build/*
devmatch2/node_modules/*
.venv/
.env

marketplace_contract/build/*

test_smartcontract/node_modules/
test_smartcontract/package-lock.json/
test_smartcontract/.env/

frontend/.env
*.env
*.env.local
*.env.development
*.env.production

#ignore all those node_modules and npm, pnpm , yarn lock files
frontend/node_modules/
*node_modules/
*.next
*pnpm-lock.yaml
*package-lock.json
*yarn.lock
*.log

front-end/node_modules/

devmatch2/.vite/

**/.DS_Store